/* ==========================================================================================================================================================================common */
@media screen and (max-width:1324px) {
    header {
        padding:0 20px;
    }
    /* ==========================================================================================================================================푸터 */
    footer {
        padding:60px 20px;
    }
    footer .f_bottom .company_info li {}
}
@media screen and (max-width:700px) {
    #wrap .login_main {margin:0 auto; padding:60px 0;}
    header h1 {
    width:80px;
    }
    header .menu {width:16px;}
    header .snb p {}
    /* ======================================================================================================================================== 푸터 */
    footer .f_bottom .company_info {margin-bottom:30px;}
    footer .f_bottom .company_info li {font-size:0.75rem; margin-bottom:10px;}
    footer .f_bottom {flex-flow:column nowrap;}
    footer .f_bottom .fnb {flex-flow:row nowrap;}
}
/* ===========================================================================================================================================================================index.html */
@media screen and (max-width:1600px) {
    #wrap main .event_box #event_wrap .event_bnr_n_slide {display:flex; flex-flow:row nowrap; gap:80px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .event_bnr {display:none}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box {width:100%; max-width:none;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper {}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper {display:flex;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info {margin-bottom:50px;}
}
@media screen and (max-width:1324px) { /* ================================================================================================================================1324px */
    /* ==========================================================================================================================================히어로 배너 */
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide {padding:250px 20px; background-position:bottom right; background-size:cover;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/photo/hero_001.png);}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide2 {background-image:url(../images/photo/hero_002.png);}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box {
        display:flex; flex-flow:column nowrap; gap:10px; justify-content:flex-end; position:absolute; left:20px; bottom:30%;
    }
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box p {font-weight:300; font-size:1.25rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box h1 {font-weight:700; font-size:1.88rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .swiper-button-next {color:#000; width:16px; z-index:999; }
    #wrap main #hero_wrap .hero_bnr .prev {left:20px;}
    #wrap main #hero_wrap .hero_bnr .next {right:20px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player {
        display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;  gap:10px;
        position:absolute; bottom:25%; left:20px; z-index:999; 
    }
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn {width:16px; height:16px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn img {width:100%;}
    /* =======================================================================================================================================베스트 셀러,  포유, 신상품 공통 선택자 */
    #wrap main .contents_box {padding:50px 20px;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .thumbnail a .photo {
    padding-top:20%; 
    width:90%;   
    display:flex; align-items: center; justify-content: center;
    }
    /* =======================================================================================================================================포유 */
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .desc_box h1 {font-size:1.5rem; font-weight:600; margin-bottom:0px; }
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box {height:100%;} 
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box a {min-width:510px;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .swiper {}
    /* =======================================================================================================================================이벤트 */
    /* =======================================================================================================================================인스타그램 */
    #wrap main .instagram {padding:60px 20px;}
    #wrap main .instagram .feed_container a {
        width:calc((100% - 10px) / 2);
    }
}
@media screen and (max-width:880px) {
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .btn_box .like_btn img {width:20px; margin:12px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev,
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next {z-index:998;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev {top:-40px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next {bottom:-40px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev svg,
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next svg {color:#000; width:32px; height:16px; } 
}
@media screen and (max-width:700px) {/* ==================================================================================================================================700px */
    /* =============================================================================================================================================히어로 배너 */
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide {}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/photo/hero_001.png); background-position:85% 100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide2 {background-image:url(../images/photo/hero_002.png);background-position:95% 100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box {
        justify-content:center; align-items:center; 
        left:50%; bottom:70%; transform:translateX(-50%);
        width:100%;
    }
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box p {font-weight:300; font-size:1.0rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box h1 {font-weight:700; font-size:1.5rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .bnr_player {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;  gap:10px;
    position:absolute; bottom:5%; left:20px; z-index:999; width:92%;
    }
    #wrap main #hero_wrap .hero_bnr .bnr_player .swiper-pagination {width:100%; height:1px; position:static;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .swiper-pagination-progressbar-fill {background-color:#000;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn {width:16px; height:16px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn img {width:100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .swiper-button-next {display:none;}
    /* ======================================================================================================================================== 베스트 */
    #wrap main .contents_box #best_wrap > h1 {font-size:1.25rem;}
    /* ======================================================================================================================================== 베스트, 포유, 신상품 공통 선택자 */
    #wrap main .contents_box .action_btn_box .more {display:block; width:16px;}
    #wrap main .contents_box .action_btn_box .more img {width:100%;} 
    #wrap main .contents_box .action_btn_box {margin:10px 0 40px 0;}
    #wrap main .contents_box .action_btn_box .category {display:flex; gap:30px;}
    #wrap main .contents_box .action_btn_box .category a {display:block; padding:10px 0; width:max-content; font-size:0.88rem; color:#777777;}
    #wrap main .contents_box .swiper .swiper-wrapper .swiper-slide .product_info .thumbnail a .photo {
    padding-top:10%; 
    width:90%;   
    display:flex; align-items: center; justify-content: center;
    }
    #wrap main .contents_box .product_slide .swiper-scrollbar {
    left:0; bottom:-40px; height:1px; width:100%;
    }
    /* ======================================================================================================================================== 포유 */
    #wrap main .contents_box #for_you_wrap > h1 {font-size:1.25rem;}
    #wrap main .for_you_box #for_you_wrap .wide_box {display:none; flex-flow:column nowrap; gap:60px; width:100%;}
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box {width:100%; height:100%;} 
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box a {width:100%;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .desc {
    font-size:0.75rem; color:#888;
    }
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc h1 {margin:10px 0;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info {display:flex; gap:10px; align-items:center;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .discount_rate {
        font-weight:700; color:#92C501; font-size:0.88rem;
    }
    #wrap main .for_you_box  .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info em {
        font-size:0.75rem; color:#a9a9a9; text-decoration: line-through;
    }
    #wrap main .for_you_box .product_slide .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .price {
        font-size:0.88rem;
    }
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .swiper-scrollbar { position:static; height:1px; width:100%;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box { gap:30px;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .desc_box h1 {font-size:1.13rem; font-weight:600; margin-bottom:10px;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .desc_box p {color:#777; font-size:1.0rem;}
    /* ======================================================================================================================================== 신상품 */
    #wrap main .contents_box #new_wrap > h1 {font-size:1.25rem;}
    /* ======================================================================================================================================== 이벤트 */
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .product_info .product_desc h1 {
    font-size:1.06rem; font-weight:500; margin-bottom:10px;
    }
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .discount_rate {}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info em {}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .price {}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev {top:-40px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next {bottom:-40px;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev svg,
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next svg {color:#000; width:32px; height:16px; } 
}
/* =============================================================================================================================================================================login.html */
@media screen and (max-width:1024px) {
    #wrap main { width:100%; margin:0 auto; }
    #wrap main .login_box .ad_box {display:none;}
    #wrap main .login_box .login {width:500px; height:max-content; margin:0 auto;}
}
/* =============================================================================================================================================================================detail.html */
@media screen and (max-width:1324px) {
    #wrap main .bread_crumb {margin:30px 0; display:flex; padding:50px 20px 0;}
    #wrap main .bread_crumb li {}
    #wrap main .bread_crumb li a {color:#888; font-size:0.81rem; font-weight:700; line-height:1;}
    #wrap main .bread_crumb li span {color:#888; font-size:0.81rem; font-weight:700; line-height:1; margin:0 10px;}
    #wrap main #detail_wrap {display:flex; flex-flow:row nowrap; justify-content:space-between; position:relative; margin:0 20px; }
    /* ===========================================================================================================================================order_sheet */
    #wrap main #detail_wrap .order_sheet .titles .title_wrap h1 {font-size:1.38rem; font-weight:600; line-height:1;}
    #wrap main #detail_wrap .order_sheet .titles .title_wrap .like_btn {display:block; width:20px; height:20px;}
    /* ===========================================================================================================================================order_detail */
    #wrap main #detail_wrap .order_sheet .order_detail > li .order_quantity_box .quantity_btn_box #quantity {
        background-color:#f9f9f9; text-align: center; width:30px; line-height:30px;
        margin:0 -3px 0 -3px;
        border-top:1px  solid #d9d9d9;
        border-bottom:1px  solid #d9d9d9; 
    }
}
@media screen and (max-width:890px) {
    #wrap main #detail_wrap .product_container .product_detail .thumbnails .related_products {display:none;}
    #wrap main #detail_wrap .order_sheet {
        width:35%; min-width:300px;
}
}
@media screen and (max-width:700px) {
    #wrap main #detail_wrap .order_sheet {display:none;}
    #wrap main #detail_wrap .product_container {width:100%;}
    #wrap main #detail_wrap .product_container .m_detail {display:block; margin:30px 0;}
    #wrap main #detail_wrap .product_container .scroll_detail .tab_menu_box {margin:0 0 20px 0;}
    #wrap main #detail_wrap .product_container .scroll_detail .tab_menu_box a {display:block; height:40px; width:calc(100% / 3); }
    #wrap main #detail_wrap .product_container .scroll_detail .tab_menu_box > * {color:#a9a9a9; line-height:40px; font-size:0.81rem;}
    #wrap main #detail_wrap .product_container .scroll_detail .tab_menu_box a.active {color:#000; background-color:#92C501}
}