/* index.html */
/* detail.html */
/* login.html */
/* common */
@media screen and (max-width:1324px) {
    header {
        padding:0 20px;
    }
    /* ==========================================================================================================================================히어로 배너 */
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide {padding:250px 20px; background-position:bottom right; background-size:cover;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/photo/hero_001.png);}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide2 {background-image:url(../images/photo/hero_002.png);}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box {
        display:flex; flex-flow:column nowrap; gap:10px; justify-content:flex-end; position:absolute; left:20px; bottom:30%;
    }
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box p {font-weight:300; font-size:1.25rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box h1 {font-weight:700; font-size:1.88rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .swiper-button-next {color:#000; width:16px; z-index:999; }
    #wrap main #hero_wrap .hero_bnr .prev {left:20px;}
    #wrap main #hero_wrap .hero_bnr .next {right:20px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player {
        display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;  gap:10px;
        position:absolute; bottom:25%; left:20px; z-index:999; 
    }
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn {width:16px; height:16px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn img {width:100%;}
    /* =======================================================================================================================================베스트 셀러,  포유, 신상품 공통 선택자 */
    #wrap main .contents_box {padding:50px 20px;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .thumbnail a .photo {
    padding-top:20%; 
    width:90%;   
    display:flex; align-items: center; justify-content: center;
}
    /* =======================================================================================================================================포유 */
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box {height:100%;} 
    #wrap main .for_you_box #for_you_wrap .wide_box .photo_box a {min-width:510px;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .swiper {}
    /* =======================================================================================================================================이벤트 */
    #wrap main .event_box #event_wrap .event_bnr_n_slide {flex-flow:column nowrap;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .event_bnr {
    display:block; /* background-image: url(../images/photo/sdm_event_bnr_001.jpg);  */
    width:100%; max-width:auto;
    /* background-size:cover; background-repeat: no-repeat; overflow:hidden; background-position:center center; */
}
    #wrap main .evnet_box #event_wrap .event_bnr_n_slide .vertical_box {}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper { /* max-width:0; max-height:0; */}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .beauty_1st_swiper .swiper-wrapper {display:flex; flex-flow:row nowrap;}
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .prev,
    #wrap main .event_box #event_wrap .event_bnr_n_slide .vertical_box .next {display:none;}
    /* =======================================================================================================================================인스타그램 */
    #wrap main .instagram {padding:60px 20px;}
    #wrap main .instagram .feed_container a {
        width:calc((100% - 10px) / 2);
    }
    /* ==========================================================================================================================================푸터 */
    footer {
        padding:60px 20px;
    }
    footer .f_bottom .company_info li {}
}
@media screen and (max-width:700px) {
    header h1 {
        width:80px;
    }
    header .menu {width:16px;}
    header .snb p {}
    /* =============================================================================================================================================히어로 배너 */
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide {}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/photo/hero_001.png); background-position:85% 100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .slide2 {background-image:url(../images/photo/hero_002.png);background-position:95% 100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box {
        justify-content:center; align-items:center; 
        left:50%; bottom:70%; transform:translateX(-50%);
        width:100%;
    }
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box p {font-weight:300; font-size:1.0rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-wrapper .swiper-slide .txt_box h1 {font-weight:700; font-size:1.5rem;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .bnr_player {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;  gap:10px;
    position:absolute; bottom:5%; left:20px; z-index:999; width:92%;
    }
    #wrap main #hero_wrap .hero_bnr .bnr_player .swiper-pagination {width:100%; height:1px; position:static;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .swiper-pagination-progressbar-fill {background-color:#000;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn {width:16px; height:16px;}
    #wrap main #hero_wrap .hero_bnr .bnr_player .pause_btn img {width:100%;}
    #wrap main #hero_wrap .hero_bnr .swiper-button-prev,
    #wrap main #hero_wrap .hero_bnr .swiper-button-next {display:none;}
    /* ======================================================================================================================================== 베스트, 포유, 신상품 공통 선택자 */
    #wrap main .contents_box .action_btn_box {margin:10px 0 40px 0;}
    #wrap main .contents_box .action_btn_box .category {display:flex; gap:30px;}
    #wrap main .contents_box .action_btn_box .category a {display:block; padding:10px 0; width:max-content; font-size:1.0rem; color:#777777;}
    #wrap main .contents_box .swiper .swiper-wrapper .swiper-slide .product_info .thumbnail a .photo {
    padding-top:10%; 
    width:90%;   
    display:flex; align-items: center; justify-content: center;
    }
    #wrap main .contents_box .product_slide .swiper-scrollbar {
    left:0; bottom:-40px; height:1px; width:100%;
    }
    /* ======================================================================================================================================== 포유 */
    #wrap main .for_you_box #for_you_wrap .wide_box {display:none; flex-flow:column nowrap; gap:60px; width:100%;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .desc {
    font-size:0.75rem; color:#888;
    }
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc h1 {margin:10px 0;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info {display:flex; gap:10px; align-items:center;}
    #wrap main .for_you_box .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .discount_rate {
        font-weight:700; color:#92C501; font-size:0.88rem;
    }
    #wrap main .for_you_box  .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info em {
        font-size:0.75rem; color:#a9a9a9; text-decoration: line-through;
    }
    #wrap main .for_you_box .product_slide .swiper .swiper-wrapper .swiper-slide .product_info .product_desc .price_info .price {
        font-size:0.88rem;
    }
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box .swiper-scrollbar { position:static; height:1px; width:100%;}
    #wrap main .for_you_box #for_you_wrap .wide_box .product_box { gap:30px;}
    /* ======================================================================================================================================== 이벤트 */
    /* ======================================================================================================================================== 푸터 */
    footer .f_bottom .company_info {margin-bottom:30px;}
    footer .f_bottom {flex-flow:column nowrap;}
    footer .f_bottom .fnb {flex-flow:row nowrap;}
}